@keyframes load {
    from {
        opacity: 1;
        top: 0px;
    }

    to {
        opacity: 1;
        top: 100px;
    }
}

@keyframes load-light {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes load-leaders {
    from {
        opacity: 1;
        top: 30px;
    }

    to {
        opacity: 1;
        top: 130px;
    }
}

@keyframes gain {
    from {
        opacity: 0;
        height: 100px;
    }

    to {
        opacity: 1;
        height: 400px;
    }
}

@keyframes moveup {
    from {
        top: 100px;
    }

    to {
        top: 190px;
    }
}

@keyframes moveup-gain {
    from {
        top: 130px;
    }

    to {
        top: 220px;
    }
}

@keyframes movedown {
    from {
        top: 190px;
    }

    to {
        top: 100px;
    }
}

@keyframes movedown-gain {
    from {
        top: 220px;
    }

    to {
        top: 130px;
    }
}

* {
    font-family: 'Inter';
    transition: .3s;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(19, 19, 22);
    height: 100vh;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: 0px;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

footer {
    position: relative;
    top: 100px;
    width: 100%;
    height: 200px;
    z-index: -1;
}

header {
    left: 0;
    top: 0;
    position: absolute;
    width: 90%;
    height: 60px;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 1;
}

header > h3 {
    font-weight: 800;
}

header > img {
    position: absolute;
    right: 5%;
    height: 25px;
    width: 25px;
    top: 17px;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.box {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 0px 0px 50px 50px;
    background: #ffe100;
    background: radial-gradient(circle, rgb(255, 236, 96) 0%, rgb(255, 149, 37) 100%);

    animation: gain 1s forwards ease;
}

#menu-window {
    width: 50%;
    height: 200px;
    border-radius: 20px;
    background-color: rgb(19, 19, 22);
    position: fixed;
    z-index: 9;
    right: -50%;
    top: 70px;
    box-shadow: 0px 0px 30px;
}

.inputs {
    position: relative;
    top: 0px;
    width: 90%;
    left: 5%;
    height: 400px;
    background-color: rgb(19, 19, 22);
    border-radius: 30px;
    box-shadow: 0px 0px 30px;

    animation: load 0.7s forwards ease-in-out;
}

.leaders {
    position: relative;
    top: 30px;
    width: 90%;
    left: 5%;
    height: 160px;
    background-color: rgb(19, 19, 22);
    border-radius: 30px;
    box-shadow: 0px 0px 30px;

    animation: load-leaders 0.7s forwards ease-in-out;
}

.inputs > button {
    position: relative;
    top: 200px;
    width: 90%;
    height: 50px;
    left: 5%;
    border-radius: 15px;
    background:  rgb(250, 138, 19);
    font-size: 16px;
    font-weight: 800;
    border: none;
    box-shadow: 0px 0px 20px rgb(250, 138, 19, 0.5);
    color: black;
}

.inputs > button:hover {
    box-shadow: 0px 0px 20px rgb(250, 138, 19, 0.8);
}

.label {
    position: relative;
    width: 90%;
    left: 5%;
    color: rgb(209, 209, 209);
    top: 100px;
    font-weight: 700;
    font-size: 18px;
}

.label > span.right {
    position: absolute;
    right: 10px;
}

.label > span.left {
    position: absolute;
    left: 10px;
}

.options {
    width: 90%;
    left: 5%;
    position: relative;
    top: 210px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.options > div {
    position: relative;
    width: 30%;
    color: rgb(194, 194, 194);
    font-size: 12px;
}

.header {
    position: absolute;
    width: 100%;
    top: 10px;
    width: 100%;
    text-align: center;
}

.value {
    position: absolute;
    margin-left: 0px;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.menu-attachment {
    width: 90%;
    height: 100px;
    left: 5%;
    position: absolute;
    margin-bottom: 20px;
    z-index: 10;
    background-color: rgb(19, 19, 22);
    border-radius: 30px;
    top: -270px; /* 70px */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-attachment > button {
    position: relative;
    border: none;
    height: 40px;
    margin-top: 5px;
    border-radius: 30px;
    width: 45%;
    background-color: rgb(19, 19, 22);
    color: grey;
}

.menu-attachment > button:hover {
    color: white;
}

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 96%;
    height: 15px;
    left: 2%;
    background: #ddd;
    border-radius: 7.5px;
    outline: none;
    background-color: rgb(14, 14, 14);
    background: linear-gradient(to right, #e9820c, #e99c0c 50%, rgb(12, 12, 14) 50%);

    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background:#e99c0c;
    border-radius: 50%;
    cursor: pointer;
    scale: 1;
    opacity: 1;
    transition: 0.3s;
    
}

#amount {
    top: 34px;
}

#date {
    top: 34px;
}


.inputs > h1 {
    position: absolute;
    left: 7%;
    top: 10px;
    color: #e9820c;
    background-image: linear-gradient(50deg, #e9820c 0%, #eb8e23 46%, #FFCC70 100%);
    font-weight: 800;
    font-size: 24px;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.leaders {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.leaders > button {
    border-radius: 30px;
    border: none;
    height: 40px;
    background-color: rgb(12, 12, 14);
    color: rgb(197, 197, 197);
    margin: 5px;
    margin-left: 10px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.text {
    position: relative;
    top: 160px;
    width: 90%;
    left: 5%;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    color: rgb(192, 192, 192);

    animation: load-light 2s forwards;
}

#gold {
    font-weight: 700;
    color: #e9820c;
}

.how {
    position: relative;
    top: 190px;
    width: 90%;
    left: 5%;
    height: auto;
    background-color: rgb(19, 19, 22);
    border-radius: 30px;
    box-shadow: 0px 0px 30px;
    padding-bottom: 80px;
}

.how > h1 {
    font-weight: 700;
    left: 20px;
    top: 0px;
    position: absolute;
    font-size: 26px;

    color:#c4c4c4;
}

.step {
    width: 90%;
    left: 5%;
    height: auto;
    background-color: #0a0b0e;
    position: relative;
    border-radius: 20px;

    top: 60px;
    padding-bottom: 26px;
    margin-top: 10px;
    
}

.stepnumber {
    color: rgb(226, 226, 226);
    font-weight: 700;
    font-size: 20px;
    position: relative;
    left: 20px;
    top: 10px;
}

.stepdesc {
    display: block;
    position: relative;
    color: grey;
    font-size: 14px;
    width: 90%;
    left: 20px;
    top: 10px;
}

#goup {
    position: relative;
    top: 220px;
    width: 80%;
    height: 50px;
    left: 10%;
    border-radius: 15px;
    background:  rgb(250, 138, 19);
    font-size: 16px;
    font-weight: 800;
    border: none;
    box-shadow: 0px 0px 20px rgb(250, 138, 19, 0.5);
    color: black;
    cursor: pointer;
}